<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Akatsuki</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <style>
    
    .inicio{
    background: url(img/1.jpg)no-repeat ;
    background-size: cover;
}

    </style>

</head>
<body>
<div class="inicio bg-dark  w-100 col- text-lg-left ">
        <div class="container-fluid">
                
                <header class="row pb-0">
                    <div class="col-12 col-lg-6  ">
                    
                     
                    <h1> <img src="img/logo.png " alt="Logo escola do freela"></h1>
                </div>
                <div class="col-12 col-lg-6">
                    <nav>
                       
                        <ul class="nav justify-content-end">
                            <li class="List-item"> <a class="nav-link text-dark"  href="#">Diferenciais </a></li>
                            <li class="List-item"> <a class="nav-link text-dark"  href="#"> Vantagens  </a></li>
                            <li class="List-item"> <a class="nav-link text-dark"  href="#">Inscreva-se </a></li>
                    </ul>  
               

</div>
<div class="container">
        <div class="row">
        
            <div class="col-lg-6">
                <h2>ola tudo bem?</h2>
                <p>tdo e vc ?</p>
            </div>
        </div>
        
                            </div>  
        

</body>
</html>