<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width= initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Douglas</title>
     
     
       <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style5.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>
 
<style>
.img{
    width: 150px; height: 150px;
}

</style> 

</head>
<body class="atualiza">
        <div class="wrapper">
                <!-- Sidebar Holder -->
                <nav id="sidebar">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-12 pl-5 pt-4">
                  
                        <img  class="img rounded-0 border border-white  " src="img/1.jpg" alt="">
                
                </div>
                </div>
                </div>
                
            <div class="menu">
            <ul class="list-unstyled components p-0">
                <div class="div"> <p class="pl-5 pt-0 text-white ">Douglas Corrêa</p></div>
                    
                        <li >
                             
                                <a role="button"  href="akatsuki.html" class="nav-link " >Inicio </a>                              
                                </li>
                                
                        <li >
                             
                                <a role="button"  href="akatsuki.html" class="nav-link" >Portfolio </a>                              
                                </li>
                              
                        <li >
                             
                                <a role="button"  href="akatsuki.html" class="nav-link" >Galeria </a>                              
                                </li>
                            
                        <li >
                             
                                <a role="button"  href="akatsuki.html" class="nav-link" >Contato </a>                              
                                </li>
                            </ul>
                           
                        </div>
                       
                  </nav>

                           
                   
                  
                            <div id="content">
                                    <div class="container-fluid   ">
                                            <div class="row  ">
                                                    <div class="text-center ">
                                    <nav  class="navbar navbar-expand-lg navbar-light bg-light p-0 ">
                                    
                                            <button type="button" id="sidebarCollapse" class="navbar-btn p  ">
                                                <span></span>
                                                <span></span>
                                                <span></span>
                                            </button>
                                        </div>

                                           
                                          
                                                  <div class="col-10">
                                                    </p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Assumenda unde, commodi hic repellendus amet necessitatibus beatae ex ipsam nesciunt accusantium vel omnis ducimus magni quam, aut a possimus minus eum.</p>

                                                  </div>
                                              </div>
                                          </div>
                                          
                                        </div>

                       
                                        </div>
                                        </div>
                                    </div>
                                    <section>
  

                                    </section>
                         
                                  
                            
  <!-- jQuery CDN - Slim version (=without AJAX) -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <!-- Popper.JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
  <!-- Bootstrap JS -->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
                            
    <script type="text/javascript">
        $(document).ready(function () {
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');
                $(this).toggleClass('active');
            });
        });
    </script>
                        </div>

    
</body>
</html>